.main-wrapper{background: #f4f4f4}
.header{background: #ffffff;padding: 10px}
.content{min-height: 200px;}
ul.menu{margin-left: 0px;}
ul.menu li{list-style-type: none!important;padding: 10px 0px 10px 0px}
ul.menu li a{text-decoration: none;color:#152934;}
ul.menu li a.active{text-decoration: none;color:#3d70b2}
.branding{}
.app-title{text-align: center}
.user-info p{font-size: 12px;text-align: right}
